body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  
  #videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    transform: scale(1.1);
  }
  
  #loginBox {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(5px);
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #5662f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 20px;
  }
  
  button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  #loadingOverlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
  }
  
  #loadingCircle {
      width: 50px;
      height: 50px;
      border: 4px solid #3498db;
      border-top: 4px solid transparent;
      border-radius: 50%;
      animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
      to {
          transform: rotate(360deg);
      }
  }
  