<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MangaDex</title>
  <link rel="icon" href="static/icon.ico" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    canvas {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: blur(5px);
      transform: scale(1.1);
    }
  </style>
</head>
<body>

  <!-- Container para o vídeo de fundo -->
  <div id="videoContainer">
    <canvas id="videoCanvas" autoplay muted loop></canvas>
  </div>

  <div id="loginBox">
    <h2 style="color: white;" id="connectWithMangadex"></h2>

    <!-- Campos de entrada -->
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <input type="text" placeholder="Client ID">
    <input type="password" placeholder="Client Secret">

    <!-- Botão de entrar -->
    <button id="loginButton">
      <img src="static/icon.ico" alt="MangaDex Icon" border="0">
      <span id="loginWithMangadex"></span>
    </button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var video = document.createElement('video');
      video.autoplay = true;
      video.muted = true;
      video.loop = true;
  
      var canvas = document.getElementById('videoCanvas');
      var ctx = canvas.getContext('2d');
  
      // Adicione o código para definir a origem do vídeo
      video.src = "{{ url_for('static', filename='background.mp4') }}";
  
      // Adicione um listener para quando o vídeo estiver carregado
      video.addEventListener('loadeddata', function () {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
  
        // Inicie a reprodução do vídeo
        video.play();
        drawFrame();
      });
  
      // Adicione um listener para atualizar o canvas em cada frame do vídeo
      function drawFrame() {
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        requestAnimationFrame(drawFrame);
      }
    });

    // Verifica se selectedLanguage existe
    const selectedLanguage = localStorage.getItem('selectedLanguage');
    if (!selectedLanguage) {
        // Se não existir, redireciona para 'new_login'
        window.location.href = '{{ url_for('new_login') }}';
    }

    // Modifique a função para aceitar um evento como argumento
    function handleKeyPress(event) {
      // Verifique se a tecla pressionada é Enter (código 13)
      if (event.key === 'Enter') {
        loginWithMangaDex();
      }
    }

    // Adicione um ouvinte de tecla à página
    document.addEventListener('keydown', handleKeyPress);
    document.getElementById('loginButton').addEventListener('click', loginWithMangaDex);

    function loginWithMangaDex() {
      // Obtenha os valores dos campos de entrada
      const username = document.querySelector('input[placeholder="Username"]').value;
      const password = document.querySelector('input[placeholder="Password"]').value;
      const clientId = document.querySelector('input[placeholder="Client ID"]').value;
      const clientSecret = document.querySelector('input[placeholder="Client Secret"]').value;
  
      // Verifique se todos os campos foram preenchidos
      if (!username || !password || !clientId || !clientSecret) {
          // alert('Por favor, preencha todos os campos.');
          highlightEmptyFields();
          return; // Impede a execução do login se algum campo estiver vazio
      }
  
      // Crie um objeto com as credenciais
      const credentials = {
          mangadex_username: username,
          mangadex_password: password,
          client_id: clientId,
          client_secret: clientSecret,
          languageCode: languageCode
      };
  
      // Faça uma solicitação POST para a rota de login no servidor Flask
      fetch('/login_credential', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(credentials),
      })
      .then(response => {
          if (!response.ok) {
              throw new Error(`Error save credentials: ${response.statusText}`);
          }
          return response.json();
      })
      .catch(error => {
          console.error('Erro:', error);
      });

      window.location.href = '{{ url_for('main_setup') }}';
    }
  
    function highlightEmptyFields() {
      // Adiciona uma borda vermelha aos campos vazios
      const inputs = document.querySelectorAll('input[placeholder]');
      inputs.forEach(input => {
        if (!input.value) {
          input.style.border = '1px solid red';
  
          // Adiciona um ouvinte de clique para remover a borda quando o usuário interagir com o campo
          input.addEventListener('click', () => {
            input.style.border = '';
          }, { once: true }); // O ouvinte será removido após a primeira interação
        } else {
          input.style.border = ''; // Remove a borda se o campo estiver preenchido
        }
      });
    }
  
    // Restaura as bordas ao recarregar a página
    window.onload = function () {
      const inputs = document.querySelectorAll('input[placeholder]');
      inputs.forEach(input => {
        input.style.border = '';
      });
    };
  
    // Verificar se a página foi recarregada
    if (performance.navigation.type === 1) {
      // Se recarregada, redirecionar para init.html
      window.location.href = '{{ url_for('index') }}';
    }
  
    const languageCode = localStorage.getItem('selectedLanguage') || 'en';

    // Verifica se o arquivo do idioma específico existe
    fetch(`static/${languageCode}.json`)
        .then(response => {
            if (!response.ok) {
                // Se o arquivo não existir, carrega o arquivo 'en.json'
                throw new Error('Language file not found');
            }
            return response.json();
        })
        .then(translations => {
            // Aplica as traduções
            document.getElementById('connectWithMangadex').textContent = translations.connect_with_mangadex;
            document.getElementById('loginWithMangadex').textContent = translations.login_with_mangadex;
            // Adicione outras atribuições de tradução conforme necessário
        })
        .catch(error => {
            // Se ocorrer um erro (por exemplo, arquivo não encontrado), carrega o arquivo 'en.json'
            fetch('static/en.json')
                .then(response => response.json())
                .then(translations => {
                    document.getElementById('connectWithMangadex').textContent = translations.connect_with_mangadex;
                    document.getElementById('loginWithMangadex').textContent = translations.login_with_mangadex;
                    // Adicione outras atribuições de tradução conforme necessário
                })
                .catch(error => console.error('Error:', error));
        });

  </script>

</body>
</html>
